@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --color-light-gray: #cdcdcd;
    --color-dark-background: #141414;
    --color-green: #00ff00;
    --color-dark-green: #157a15;
    --color-gray: #888;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    padding: 0 300px;
}

body {
    color: var(--color-light-gray);
    background-color: var(--color-dark-background);
    margin: 50px 100px 0px 100px;
}

.logo {
    text-align: center;
    font-size: 9px;
    color: var(--color-green);
}

.menu {
    border-bottom: 2px dotted var(--color-dark-green);
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
}

@media (max-width: 600px) {
    body {
      margin: 50px 10px 0px 10px;
    }
    .body pre {
        font-size: 12px;
    }
    .container {
      padding: 0 25px;
    }
    .logo {
      font-size: 3px;
    }
    .menu {
        font-size: 13px;
        margin: 15px 0;
    }
    .body g1 {
        font-size: 10px;
    }
    .body g2 {
        font-size: 10px;
    }
  }

.menu a {
    color: var(--color-green);
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    color: var(--color-light-gray);
}

.body {
    font-size: 15px;
}

.body pre {
    font-family: 'Fira Code', monospace;
    white-space: pre-wrap;
    color: var(--color-dark-green);
}

.body g1 {
    color: var(--color-green);
    font-weight: bold;
}

.body g2 {
    color: var(--color-gray);
}

.body a {
    text-decoration: none;
    color: var(--color-green);
}

/* Footer styles */
.footer {
    border-top: 2px dotted var(--color-dark-green);
    font-size: 13px;
    text-align: center;
    padding: 2px 0;
    color: var(--color-green);
    font-weight: bold;
}
